<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.earldouglas.jsonpfilter.test.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>jsonp-filter-1</filter-name>
        <filter-class>com.earldouglas.jsonpfilter.JsonPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jsonp-filter-1</filter-name>
        <url-pattern>/1</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>jsonp-filter-2</filter-name>
        <filter-class>com.earldouglas.jsonpfilter.JsonPFilter</filter-class>
        <init-param>
            <param-name>callbackParam</param-name>
            <param-value>c2theb</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jsonp-filter-2</filter-name>
        <url-pattern>/2</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>jsonp-filter-3</filter-name>
        <filter-class>com.earldouglas.jsonpfilter.JsonPFilter</filter-class>
        <init-param>
            <param-name>callbackParam</param-name>
            <param-value> this value has
              white
              space
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jsonp-filter-3</filter-name>
        <url-pattern>/3</url-pattern>
    </filter-mapping>
 
</web-app>